[profile.default]
src = 'src'
cache_path = 'cache/foundry'
out = 'out/foundry'
libs = ['lib']
solc = '0.8.30'
optimizer = true
optimizer_runs = 26_000
fuzz_runs = 256
gas_reports = ['BullaClaim']
fs_permissions = [{ access = "read-write", path = "./deployments" }]
remappings = [
    'contracts/=src/',
    'scripts/=scripts/',
    'ds-test=lib/ds-test/src',
    'forge-std=lib/forge-std/src',
    'safe-contracts=lib/safe-contracts/contracts',
    'solmate=lib/solmate/src',
]

# See more config options https://github.com/gakonst/foundry/tree/master/config
[profile.ci]
fuzz_runs = 1_000
fuzz_max_global_rejects = 1_500_000

# Network configurations
[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"
mainnet = "${MAINNET_RPC_URL}"
arbitrum = "${ARBITRUM_RPC_URL}"
polygon = "${POLYGON_RPC_URL}"
base = "${BASE_RPC_URL}"
optimism = "${OPTIMISM_RPC_URL}"
bsc = "${BSC_RPC_URL}"
avalanche = "${AVALANCHE_RPC_URL}"
